hr {
    margin-top: 5%;
    margin-bottom: 5%;
}

.grid-8 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 0px;
}

.round {
    border-radius: 50%;
}

.add-border {
    border: solid;
}

.img-icon {
    width: 16px;
    height: 16px;
    display: inline-block;
    fill: #828282;
    padding-right: 10px;
    vertical-align: text-top;
}

.footer-col {
    text-align: justify;
}

p,
.page-section {
    text-align: justify;
    padding-bottom: 20px;
}

.code {
    font-family: courier;
    border-style: solid;
    border-width: 1px;
    border-color: gray;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.tag-name {
    font-size: xx-large;
    padding-bottom: 10px;
}

.post-name {
    grid-column-start: 1;
    grid-column-end: 7;
}

.post-date {
    grid-column-start: 7;
    grid-column-end: 9;
    text-align: right;
}

.post-excerpt {
    color: dimgrey;
    grid-column-start: 1;
    grid-column-end: 9;
    padding-bottom: 10px;
    font-style: italic;
}

.red {
    color: "red";
}