.course-notice {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid red;
    color: red;
}

.course-section {
    padding-bottom: 20px;
}

.course-item {
    padding-top: 10px;
    padding-bottom: 10px;
}

.section-title {
    padding-bottom: 5px;
    font-weight: bold;
}

.section-item {
    list-style-type: disc;
}

.section-item a {
    list-style-type: disc;
}

.red {
    color: "red";
}