---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";
@import "{{ "/assets/css/base.css" | relative_path }}";
@import "{{ "/assets/css/pubs.css" | relative_path }}";
@import "{{ "/assets/css/courses.css" | relative_path }}";
@import "{{ "/assets/css/projs.css" | relative_path }}";

.post-content {
    text-align: justify;
}