---
---

body
{
	counter-reset: paper-counter; /* initializes counter to 0; use -1 for zero-based numbering */
}

.paper-title
{
	counter-increment: paper-counter; /* Increase the counter by 1. */
	font-weight: bold;
}

.paper-title:before
{
	content: counter(paper-counter) ". ";
}

.paper-me
{
	text-decoration: underline;
}

.paper-authors
{
	display:inline-block;
}

.paper-author
{
	display:inline;
}

.paper
{
	padding-bottom: 20px;
}
