body {
    counter-reset: paper-counter;
    /* initializes counter to 0; use -1 for zero-based numbering */
}

.paper-title {
    counter-increment: paper-counter;
    /* Increase the counter by 1. */
    font-weight: bold;
}

.paper-title:before {
    content: counter(paper-counter) ". ";
}

.paper-me {
    text-decoration: underline;
}

.paper-authors {
    display: inline-block;
}

.paper-author {
    display: inline;
}

.paper {
    padding-bottom: 20px;
}

/* -- publications --*/

.listing-pub-title {
    /*font-family: 'Bebas Neue', sans-serif;
  max-width: 80%;
  margin-top: 10px;
  margin-bottom: 12px;
  color: #222;
  line-height: 1.2;*/
    font-size: 18px;
    font-weight: 700;
}

.listing-pub-author {
    color: #757883;
    font-size: 13px;
    margin-bottom: 6px;
    /*line-height: 1.5;*/
}

.listing-pub-number {
    font-weight: 700;
    font-size: 15px;

}

.listing-pub-journal {
    color: #757883;
    font-size: 14px;
    margin-bottom: 8px;
}

.listing-pub-url {
    font-size: 13px;

}

.thumbnail img.thumbnail-image {
    max-height: 300px !important;
    max-width: 100% !important;
    width: auto !important;
    height: auto !important;
    object-fit: contain !important;
    margin-left: auto !important;
    display: block !important;
}

/* -- alumni --*/

.alumni-listing {}

.alumni-item {
    padding-top: 10px;
    padding-bottom: 10px;
}

.alumni-item-name {
    font-weight: bold;
}

.alumni-item-project {}

.alumni-item-description {}